
# ignore ext build and prefix directories 
build/*
ext/build/*
prefix/*
reports/*
jenkins/jenkins_home/*

#ignore .vscode directory
.vscode/*

# ignore temporary files
*.swp
*.odt#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
